$primary-clr: #0e0c07;

$error-clr: $primary-clr;
$button-clr: $primary-clr;
$link-clr: $primary-clr;

$bg-clr: #F5F5F5;
$front-layers-bg-clr: #FFFFFF;
$deep-layers-bg-clr: #dbdfe3;
$text-high-clr: #000000;
$text-medium-clr: rgba(0, 0, 0, 0.6);
$text-elem-disabled-clr: rgba(0, 0, 0, 0.3);
$green-clr: #019592;
$orange-clr: #f61515;
$grey-clr: #79848F;
$red-clr: #EE0000;
