@import 'colors';

.mat-table-container{
  width: 100%;
  height: 700px;;
  /*margin: 10px 0;*/
  box-shadow: 0 24px 11px rgba(0, 0, 0, 0.14),
  0 9px 18px rgba(0, 0, 0, 0.12),
  0 11px 15px rgba(0, 0, 0, 0.2);
}

.mat-table-style {
  /*margin-top: 52px;*/
}

.mat-table-style th {
  border-bottom-color: rgba(0, 0, 0, 0.13) !important;
  padding: 0 16px !important;
  text-align: left !important;
  vertical-align: middle;
  transition: 1s;
  background: $primary-clr;
}

.mat-table-style td {
  border-bottom-color: rgba(0, 0, 0, 0.13) !important;
  padding: 0 16px !important;
  text-align: left !important;
  vertical-align: middle;
}

.mat-header-cell{
  color: #FFFFFF !important;
}

.mat-table_group-header {
  background: #dbdfe3;
  padding-left: 10% !important;
}
